    html {
        width: 100%;
        margin: 0;
        background-color: #1a2a3d;
        color: #c8d7ea;
        font-family: system-ui, sans-serif;
        line-height: 1.5;
        border-top:2px solid #81e5ec
    }

    * {
        box-sizing:border-box
    }

    h1, h2 {
        color:#fff
    }

    body {
        margin: 0 auto;
        padding:1rem
    }

    a {
        color:#81e5ec
    }

    main {
        max-width: 50ch;
        margin:0 auto
    }

    pre {
        padding:1rem
    }

    img {
        width: 100%
    }

    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.25rem; }
    h4 { font-size: 1.125rem; }
    h5 { font-size: 1rem; }
    h6 { font-size: 0.875rem; }

    main[data-astro-cid-egg7nqdx] {
        max-width: 50ch;
        margin: 0 auto
    }
